# Strings or str
str is a collections of one or more characters enclosed in a single, double or tripple quotes/ inverted commas.
Every charcters within a str is treated as a unicode characters and we call then elements as well.
        Ex - 'Blindspot' , "Blindspot" , '''Blindspot''' , """Blindspot""".

If a str contains '' or "" or '\' there is a quite possibility that the string also have any of these signs as well and in that case we proceede with another back slash '\'.
        Ex - "He said \ 'Let us Python \'".
        r"He said, Let us Python'"
If we doesnt want to use a backslash(\) in that case starting a str with 'r' the begining will do the work.

<h2 style="color:Pink"> Multiline String </h2>

All but the last line ends with a backslash'\' enclosed within a double inverted commas or a triple inverted commas.
        Ex - " Amit likes to wirte Python"

## Accesing str elements or we also call it as Indexing

str = 'Hello' \
            0 1 2 3 4 \
            H e l l o \
           -5-4-3-2-1 \
Now we will learn the indexing in the next cell.

In [8]:
input_str = 'Hello'
input_str[0]

'H'

In [5]:
input_str[1]

'e'

In [6]:
input_str[2]

'l'

In [7]:
input_str[3]

'l'

In [9]:
input_str[4]

'o'

In [10]:
# We can't acess the values which are not present in the str
Ex - input_str[10]

NameError: name 'Ex' is not defined

In [11]:
input_str[10]

IndexError: string index out of range

## Acessing Substrings

msg [start:end] - extract from start to end-1. \
msg [start:] - extract from the start to end. \
msg [:end] - extract from start to end-1. \
msg [-start:] - extract from -start(included) to end. \
msg [: -end] - extract from begining to end-1. \

Let's have a look at some examples to understand it better.

In [12]:
msg = "Bamboozled"
print(msg[0:1])

B

In [19]:
msg[0:1]

'B'

In [18]:
# In output 12 we can see that when we used the 0 and 1 it only gives B as a output.
# Thta means it's actually substracting 1 from the end position.

In [20]:
print(msg[0:2])

Ba

In [21]:
msg[0:2]

'Ba'

In [25]:
msg[-10:-8]

'Ba'

In [26]:
print(msg[0:6])

Bamboo

In [27]:
msg[0:6]

'Bamboo'

In [28]:
print(msg[:6])

Bamboo

In [29]:
msg[:6]

'Bamboo'

In [30]:
print(msg[-10:-4])

Bamboo

In [31]:
msg[-10:-4]

'Bamboo'

In [32]:
print(msg[:-4])

Bamboo

In [35]:
print(msg[-7:])

boozled

In [36]:
msg[-7:]

'boozled'

In [39]:
# This function is used to reverse any str elemts
print(msg[::-1])

delzoobmaB

In [40]:
msg[::-1]

'delzoobmaB'

In [41]:
# To use or slice elements of a string alternatively
print(msg[0:10:2])
# we are slicing elemts from index 0 to (10-1) i.e; 9 alternatively or by skipping one elements every time.

Bmoze

### str Properties

In [44]:
# Strings are immutable.
S = "Hello"
S[0] = 'M'
# S[0] = 'M' will give us a error as it is immutable in nature.

TypeError: 'str' object does not support item assignment

In [49]:
# Strings can be concatenated
msg1 = "My name is Amit"
msg2 = "He loves Python"
msg3 = msg1+","+msg2
print(msg3)

My name is Amit,He loves Python

In [50]:
# Or we can simply add by using
msg3 = msg1+msg2
print(msg3)

My name is AmitHe loves Python

In [54]:
# Replication during printing
# It means we can multiply an elemts by however times we want let's look at some example.
print('Amit'*10)
# one should make clear that we have to use only single quotation mark or single inverted commas while replicating any object.

AmitAmitAmitAmitAmitAmitAmitAmitAmitAmit

In [59]:
# Is String a Substring?
# Let's find this out.
input_msg = "Hello"
print('e'in 'Hello')
print('H'in 'Hello')
print('l'in'Hello')
print('o'in 'Hello')
print('Hel'in 'Hello')

True
True
True
True
True

In [61]:
# built-in functions in python
msg = "Surreal"
# len() fuction to find out the lenth of a str
print(len(msg))

7

In [62]:
# min() to find out the minimun in a str
print(min(msg))

S

In [63]:
# max() to find out the maxium in a str
print(max(msg))

u

In [64]:
#### One thing to note down here in this case is we have used the max and min functions in str on words.
# Upper case letters(Capital Letters) have lower unicode values as compared to the lower case(small letters).
# That's the reason why we are getting getting 'S' as min and 'u'as max values.

<font color = Orange> String Operations </font>

In [65]:
a = 'ABCDEFG'
len(a)

7

In [66]:
b = 'goti kalti mar sab aa rahe hai'
len(b)

30

In [69]:
# Acessing the first character
a[0]

'A'

In [70]:
b[0]

'g'

In [71]:
# acessing the last character
a[-1]

'G'

In [72]:
b[-1]

'i'

<font color = Purple> Immutability </font>

In [77]:
# trying to change the characters of 'a' at index 2 and 'b' as well
# It will give as error as we know that str data types are immutable in nature
a[2] = R

NameError: name 'R' is not defined

In [78]:
b[2] = Z

NameError: name 'Z' is not defined

In [79]:
# Changing the entire str will be allowed let's see the process
a = 'badass boy'

`Here we can see that we are defining a new varibale as 'a'`

In [81]:
print(a)

badass boy

<font color = red> # Concatation </font>

In [82]:
first_Name = "Monty"
second_Name = "Python"
Name = first_Name  + second_Name
print(Name)

MontyPython

In [87]:
# As we can see above that we just added both the variables directly to add space or commas while cancatations.
# we use a differnt approach as follows
print(first_Name+","+second_Name)
# Here we are adding a comma in between the first_Name and the second_Name

Monty,Python

In [86]:
print(first_Name +" "+second_Name)
# here we are adding a space between the first_Name and the second_Name

Monty Python

In [92]:
# Some more edamples on cancatations
input_1= "Dog"
input_2 = "Barks"
input_3 = "They can bite like hell as well."
# Now we are going to add all them three together by using a comma and tehn by a space between them.
# We are now adding a comma while concatation first as follows
print(input_1+","+input_2+","+input_3)

Dog,Barks,They can bite like hell as well.

In [93]:
# Here Now we are going to use a space at first concatation process and then a comma in the second concatation process
print(input_1+" "+ input_2+","+input_3)

Dog Barks,They can bite like hell as well.

<Font color = Violet> Typecasing </font>

In [97]:
#typecasing using a str functions
age = 26
print("I am "+" "+str(age)+" " +"years old")

I am  26 years old

#<font color = Orange>In the above typecasing we can see that we have used double quotes to add space between the words followed by a + sign.</font>

In [99]:
# The Normal typecasing can goes like this
age = 26
print("I am "+str(age)+"years old")

I am 26years old

<font color = red> Here we can also observe that when we are using str(age) we are not doing any quotes or seperation or neither usinga any specific special characters becasue str() is an inbuilt function for python and can be treated as so.</font>

In [100]:
# There can be more typecasing using the str() functions as well, with other normal data types like ,bool,float,hex,oct systems.
# Let,s try to experiment new things
age = 0x32
print("I am "+" "+str(age)+" "+"years old")

I am  50 years old

<font color = red>Here we can see that when we used the hexadecimal system and definded age in hexadecimal system it works while we used it as a str function.</font>

<font color = brown>Let's undertsnad and learn some of the basic data types quickly.</font>

_____Basic Data Types_____
1. Int data type : int data types are generally an integer type data and can be expressed in binary, decimal, octacl and hexadecimal systems.
-  Binary system : Binary starts with 0b or 0B (zero and lower or upper case 'B'.
   <br>Binary system uses only two numbers i.e; 0 and 1.
   examples are - 0b25,0B32, we can check them in coding shells later on by one.
-  Decimal system : decimal system uses 9 numbers i.e; from 0 to 9.
   <br> Examples - 159,832,957 etc.
-  Octal system : The octal system starts with 0o or 0O (i.e; zero and lower or upper case 'O'.)
   The Octal system uses only 8 numbers i.e; from 0 to 7
   Exmaples - 0o437,0O765,0O435.
-  Hexadecimal System : The Hexadecimal system starts with 0x or 0X(i.e; zero and upper or lower case 'X'.)
   it uses 16 numbers for the hexadecimal system i.e; from 0 to 9 and then A=10, B=11, C=12, D=13, E=14, F=15.
   Examples-  0X2097,0x435,0X100034 etc.

<h1 style = "color:Blue"> Binary System </h1>

In [106]:
# Now we are trying to get a better vision of the int data type systems in details with examples.
# We are starting with the binary system first.
print(0B11)

3

In [107]:
print(0b10001)

17

In [108]:
print(0B0010110001)

177

<font color = red>Here it can be seen clearly that we are currently using only 0 and 1 for the binary system as it works only for two numbers.</font>

<h2 style = "color:Blue"> Decimal System</h2>

In [110]:
# Now we are goint through the decimal system
# as we have already learned that decimal system uses only numbers from 0 to 9.
print(987)

987

In [111]:
print(233456)

233456

In [112]:
print(9465326734)

9465326734

<h3 style = color: